ion-grid {
  height: 100%;
}
/*
.main-row {
  height: 66%;
}

.secondary-row {
  height: 17%;
}
*/

ion-col {
  text-align: center;
  align-self: center;
}

input {
  text-align: center;
}

ion-button,
ion-input {
  width: -webkit-fill-available;
}
